<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        <%- include('layouts/navbar'); -%>

        <table>
            <thead>
                <tr>
                    <th>Driver</th>
                    <th>Test Type 
                        <span id="filterContainer">
                            <select id="testTypeFilter">
                                <option value="">All</option>
                                <option value="G">G</option>
                                <option value="G2">G2</option>
                            </select>
                        </span>
                    </th>
                    <th>Status
                        <span id="filterContainer">
                            <select id="statusTypeFilter">
                                <option value="">All</option>
                                <option value="">Passed</option>
                                <option value="G">Failed</option>
                                <option value="G2">Pending</option>
                            </select>
                        </span>
                    </th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody id="appointmentsTableBody">
                <!-- Table rows will be dynamically populated here -->
            </tbody>
        </table>
        
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Appointment Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <!-- Appointment details will be displayed here -->
                    </div>
                    <div class="modal-footer" id="modalFooter">
                        <!-- Footer content will be dynamically populated here -->
                    </div>
                </div>
            </div>
        </div>


            <%- include('layouts/scripts'); -%>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <script src="/js/examinerScript.js"></script>
    </body>

</html>

<!DOCTYPE html>
